aside{
    width:200px;
    background-color: black;
}
.container-aside{
    position:relative;
    width: 100%;
    overflow-y: hidden;
}
.container-logo{
    padding:10px 0;
} 
.logo-small{
    display:none
}
.logo{
    width: 150px;
}
.li-icona, .li-playlist{
    align-items:center;
    color: #7d7f84;
}
.li-nomeplaylist{
    color:#6f6f6f;
    align-items:center;
}
aside ul{
    padding: 10px ;
}
aside i{
    color: #7d7f84;
    font-size:60px;
    margin-right: 30px;
}
@media screen and (max-width:600px){
    aside{
        width:100px;
    }
    .logo-small{
        display:block;
        height:40px;
    }
    .logo, span, .li-playlist, .li-nomeplaylist{
        display:none;
    }
}
.green-border-aside{
    border-left: yellowgreen solid;
}
.container-nomeplaylist{
    overflow-y:auto;
    width: 100%;
}