/* COMMON */
Body{
    font-family: 'Montserrat', sans-serif;
    height:100vh;
}
.flex{
    display: flex;
}
.w-100{
    width:100%
}
.icona{
    width: 30px;
    padding: 5px 5px 5px 0;
}
.color-white{
    color: #fff;
}
/* PAGE CONTAINER */
.page-container{
    height: calc(100% - 80px);
    background-color:#141922;
}
