/* COMMON */
Body{
    font-family: 'Montserrat', sans-serif;
    height:100vh;
}
.flex{
    display: flex;
}
.w-100{
    width:100%
}
.icona{
    width: 1.875rem;
    padding:0.3125rem 0.3125rem 0.3125rem 0;
}
.color-white{
    color: #fff;
}
.color-gray{
    color: #7d7f84;
}
/* PAGE CONTAINER */
.page-container{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 80px);
    background-color: #141922;
}
