header{
    position:fixed;
    right: 0;
    left:12.5rem;
    justify-content: end;
    padding:0.625rem;
    background: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width:600px) {
    header{
        left:6.25rem;
    }
}
.btn{
    color:#fff; 
    border: #fff solid;
    background-color: black;
    border-radius: 2.5rem;
    justify-content: flex-end;
    padding:0.625rem 2.5rem;
}
