main{
    width:calc(100% - 200px);
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
}
main ul{
    padding-top: 60px;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
main li{
    text-align:center;
    color: #7d7f84;
    list-style: none;
    padding-right: 15px;
}
.row{
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/6);
    padding: 0.3125rem;
    text-align: center;
    color: #7d7f84;
}
.col img{
    width:100%;
    height: 80%;
    padding-bottom:1.25rem;
}
.green-main{
    background-color: #adff2f;
    border-color: #adff2f;
    width:2.5rem;
    margin: 0 3.125rem;
}
.second-row{
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}
.container-music2, .container-music3{
    padding-top: 1.25rem;
}
.artist{
    border-radius: 50%;
}
main .color-white{
    margin-bottom: 0.625rem;
}
@media screen and (max-width:700px) {
    .col{
        width: calc(100%/2);
    }
}